<%- include('partials/header'); -%>

<ul class="blogs">
  <li class="blog">
    <img src="/P-logo.jpg" alt="Pulvini logo">
    <h4>Adewale Yusuf</h4>
    <p>Your learning path to endless growth</p>
  </li>
  <li class="blog">
    <img src="/P-logo.jpg" alt="Pulvini logo">
    <h4>Hack Sultan</h4>
    <p>Tech as a platform for future proof work</p>
  </li>
  <li class="blog">
    <img src="/P-logo.jpg" alt="Pulvini logo">
    <h4>Tobi Oyelami</h4>
    <p>The Chef, how to cook NodeJS</p>
  </li>
  <li class="blog">
    <img src="/P-logo.jpg" alt="Pulvini logo">
    <h4>Adewale Yusuf</h4>
    <p>Enabling billions of Talents to create a better future.</p>
  </li>
  <li class="blog">
    <img src="/P-logo.jpg" alt="Pulvini logo">
    <h4>Hack Sultan</h4>
    <p>Nigeria's AltSchool raises $1M pre-seed...</p>
  </li>
  <li class="blog">
    <img src="/P-logo.jpg" alt="Pulvini logo">
    <h4>Tobi Oyelami</h4>
    <p>The Chef, how to cook NodeJS</p>
  </li>
</ul>

<%- include('partials/footer'); -%>