<%- include('partials/header'); -%>

<header>
  <div class="blog">
    <img src="/P-logo.jpg" alt="">
  </div>
  <div class="headings">
    <h2>Published Blogs</h2>
    <h3>By Pulvini authors</h3>
    <a href="/blogs" class="btn">Read Blogs</a>
  </div>
</header>


<%- include('partials/footer'); -%>